body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main{
    width: 80vw;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.bars{
    width: 65vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.bar{
    width: 65vw;
    height: 5vh;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}
.progress{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    background-color: #2196f3;
}
.space{
    width: 65vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end; 
}
.cont{
    width: 65vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deti{
    width: 80vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-items: start;
    flex-direction: column;
}
.table{
    width: 40vw;
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);
    flex-direction: column;
}
.thead{
    width: 40vw;
    height: 8vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fafafa;
    color: black;
}
.tr{
    width: 40vw;
    height: 8vh;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title{
    font-size: 17px;
    font-weight: 500;
    color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    width: 14vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size{
    width: 14vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date{
    width: 12vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tbody{
    width: 40vw;
    height: 23.9vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.trs{
    width: 40vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.5px solid #555555;
}
.names{
    width: 14vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: start;
}
.sizes{
    width: 14vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dates{
    width: 12vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titles{
    padding-left: 20px;
    font-size: 17px;
    font-weight: 500;
    color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}