body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cross{
    width: 4vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cont{
    width: 96vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(246, 241, 241);
}
.det{
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.10);
    background-color: white;
    border-radius: 20px;
}
.left{
    width: 35vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right{
    width: 45vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}